.email-background
	background: #eee
	padding: 10px
	
.email-container
	max-width: 800px
	/*background: pink*/
	font-family: sans-serif
	font-size: 10px
	margin: 0 auto /*Responsiveness for sides*/
	overflow: hidden
	//border-radius: 10px //Rounded edges
	p, ul
		margin : 20px
		font-size: 16px
		color: #666
		line-height: 1.5
.pre-header
	@extend .email-container
	background: #eee
	color: #eee //Same color to hide it when on main page
	
h1,h2,h3,h4
	font-family: sans-serif

.img-large
	max-width: 45%
	padding: 1% 1%

.img-social
	max-width: 10%
	padding: 1% 1%
	
.footer-logos
	@extend .email-container
	background: none
	padding: 20px
	font-size: 12px
	text-align: center
	
.footer-socialmedia
	@extend .email-container
	background: none
	text-align: left
	
.footer-text
	@extend .email-container
	p
		margin : 2px
		font-size:  10px
		color: #666
		line-height: 1
		text-align: center